.vs/DataTool/v15/.suo
DataTool/bin/Debug/DataTool.exe
DataTool/bin/Debug/DataTool.exe.config
DataTool/bin/Debug/DataTool.pdb
DataTool/bin/Debug/Newtonsoft.Json.dll
DataTool/bin/Debug/Newtonsoft.Json.xml
DataTool/bin/Release/DataTool.exe
DataTool/bin/Release/DataTool.exe.config
DataTool/bin/Release/DataTool.pdb
DataTool/bin/Release/Newtonsoft.Json.dll
DataTool/bin/Release/Newtonsoft.Json.xml
DataTool/obj/Debug/App.baml
DataTool/obj/Debug/App.g.cs
DataTool/obj/Debug/App.g.i.cs
DataTool/obj/Debug/DataTool.csproj.CopyComplete
DataTool/obj/Debug/DataTool.csproj.CoreCompileInputs.cache
DataTool/obj/Debug/DataTool.csproj.FileListAbsolute.txt
DataTool/obj/Debug/DataTool.csproj.GenerateResource.cache
DataTool/obj/Debug/DataTool.csprojAssemblyReference.cache
DataTool/obj/Debug/DataTool.exe
DataTool/obj/Debug/DataTool.g.resources
DataTool/obj/Debug/DataTool.pdb
DataTool/obj/Debug/DataTool.Properties.Resources.resources
DataTool/obj/Debug/DataTool_MarkupCompile.cache
DataTool/obj/Debug/DataTool_MarkupCompile.lref
DataTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataTool/obj/Debug/DialogNewFile.baml
DataTool/obj/Debug/DialogNewFile.g.cs
DataTool/obj/Debug/DialogNewFile.g.i.cs
DataTool/obj/Debug/GeneratedInternalTypeHelper.g.cs
DataTool/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
DataTool/obj/Debug/MainWindow.baml
DataTool/obj/Debug/MainWindow.g.cs
DataTool/obj/Debug/MainWindow.g.i.cs
DataTool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DataTool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DataTool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DataTool/obj/Release/App.baml
DataTool/obj/Release/App.g.cs
DataTool/obj/Release/App.g.i.cs
DataTool/obj/Release/DataTool.csproj.CopyComplete
DataTool/obj/Release/DataTool.csproj.CoreCompileInputs.cache
DataTool/obj/Release/DataTool.csproj.FileListAbsolute.txt
DataTool/obj/Release/DataTool.csproj.GenerateResource.cache
DataTool/obj/Release/DataTool.exe
DataTool/obj/Release/DataTool.g.resources
DataTool/obj/Release/DataTool.pdb
DataTool/obj/Release/DataTool.Properties.Resources.resources
DataTool/obj/Release/DataTool_MarkupCompile.cache
DataTool/obj/Release/DataTool_MarkupCompile.lref
DataTool/obj/Release/DialogNewFile.baml
DataTool/obj/Release/DialogNewFile.g.cs
DataTool/obj/Release/DialogNewFile.g.i.cs
DataTool/obj/Release/GeneratedInternalTypeHelper.g.cs
DataTool/obj/Release/GeneratedInternalTypeHelper.g.i.cs
DataTool/obj/Release/MainWindow.baml
DataTool/obj/Release/MainWindow.g.cs
DataTool/obj/Release/MainWindow.g.i.cs
DataTool/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DataTool/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DataTool/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DataTool/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
DataTool/bin/Release/datatable_item.json
DataTool/obj/Debug/DataTool_MarkupCompile.i.cache
DataTool/obj/Debug/DataTool_MarkupCompile.i.lref
DataTool/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
DataTool/obj/Release/DataTool.csprojAssemblyReference.cache
DataTool/obj/Release/DataTool_MarkupCompile.i.cache
DataTool/obj/Release/DataTool_MarkupCompile.i.lref
DataTool/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
